:root {
  --backgroundcolor: hsl(0, 0%, 10%);
  --sec-backgroundcolor: hsl(0, 0%, 20%);
  --divbackgroundcolorhover: rgba(204, 204, 204, 0.377);
  --divshadow: hsl(180, 1%, 84%);
  --fontmain: hsl(0, 0%, 100%);
  --fontsec: hsla(0, 0%, 100%, 0.616);
}
.hero {
  height: 80vh;
  width: 80vw;
}
.hero h1{
  font-size: 5rem;
}

body {
  margin: 2px;
  overflow-x: hidden;
  height: 100%;
  place-content: center;
  place-items: center;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(1);
  row-gap: 120vh;
  column-gap: 20px;
  grid-template-areas:
    "div9"
    "div1"
    "div2"
    "div3"
    "div4"
    "div5"
    "div6"
    "div7"
    "div8";
  background-color: var(--backgroundcolor);
}

@media screen and (max-width: 480px) {
  body {
    height: 100%;
    place-content: center;
    place-items: center;
    width: 100%;
    display: grid;
    grid-template-columns: 2fr;
    row-gap: 80px;
    column-gap: 80px;
    grid-template-areas:
      "div1 div1"
      "div2 div2"
      "div3 div3"
      "div4 div4"
      "div5 div5"
      "div6 div6";
    background-color: var(--backgroundcolor);
  }
}

.div {
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 50px;
  padding-top: 20px;
  border: solid 1px azure;
  background-color: var(--sec-backgroundcolor);
  justify-items: center;
  align-self: center;
  justify-self: center;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  justify-content: center;
  align-content: center;
  align-items: center;
  justify-items: center;
  transition: 500ms;
  box-shadow: 1px 1px 10px var(--divshadow);
}

.div:hover {
  transform: translatey(-20px);
  box-shadow: 0px 0px 20px 12px var(--divshadow);
}

label {
  font-weight: 700;
  color: var(--fontmain);
  font-family: Helvetica;
  font-size: xx-large;
}
input::placeholder {
  font-weight: 700;
  color: var(--fontsec);
  font-family: Helvetica;
  font-size: 1.01em;
}
input {
  font-size: 1.5em;
  font-weight: 700;
  color: var(--fontmain);
  font-family: Helvetica;
  align-self: center;
  justify-self: center;
  height: 40px;
  padding-left: 10px;
  border-radius: 25px;
  background-color: transparent;
  border: solid var(--fontmain) 2px;
}

button {
  font-size: x-large;
  justify-self: center;
  align-self: center;
  background-color: transparent;
  border: solid var(--fontmain);
  color: var(--fontmain);
  width: 50%;
  height: 40px;
  border-radius: 25px;
  transition: 500ms;
  margin-top: 20px;
  cursor: pointer;
  font-weight: 700;
}

h1 {
  text-align: center;
}
p {
  font-size: larger;
  font-weight: bold;
}
li {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  list-style: none;
}
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--fontmain);
}

button:hover {
  color: var(--fontsec);
  background-color: transparent;
  border: 2px solid var(--divshadow);
}

#diceImages {
  display: flex;
  margin: 80px;
  flex-wrap: wrap;
  justify-content: center;
}
img {
  border-radius: 10px;
  width: 90px;
  margin: 10px 10px;
}

#Dice {
  margin: 5% auto;
  width: auto;
}

.dice-container {
  width: 40%;
}

.dice {
  width: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 20px;
  margin-bottom: -50px;
}

#diceImages {
  padding-bottom: 20px;
  width: fit-content;
  max-width: 65%;
}

#numOfDice {
  text-align: center;
  width: 100px;
}

#numOfDice::-webkit-inner-spin-button {
  display: none;
}

#clockContainer {
  font-size: 25em;
  width: 90%;
  height: 210px;
  padding-bottom: 30px;
  padding-top: 20px;
  padding: auto auto auto auto;
}

#clock h1 {
  text-align: center;
  font-weight: 700;
  padding: auto auto auto auto;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10%;
}

#counter {
  padding: auto auto auto auto;
  padding-bottom: 20px;
  padding-top: 20px;
  width: 90%;
  max-width: 500px;
}

#counter h1 {
  text-align: center;
  font-weight: 700;
  padding: auto auto auto auto;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 8vw;
}

#counter button {
  font-size: x-large;
  justify-self: center;
  align-self: center;
  width: auto;
  cursor: pointer;
  font-weight: 700;
  padding-left: 20px;
  padding-right: 20px;
}

#Clock {
  text-align: center;
  font-weight: 700;
  padding: auto auto auto auto;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 4vw;
}

#countSave {
  border: none;
  background-color: hsl(108, 100%, 50%);
  color: var(--fontmain);
}

#countSave:hover {
  border: none;
  background-color: hsl(108, 100%, 30%);
  color: hsl(0, 0%, 90%);
}

.Start-btn {
  border: 2px solid hsl(204, 100%, 60%);
  background-color: hsl(204, 95%, 51%);
  color: var(--fontmain);
}

.Start-btn:hover {
  border: 2px solid hsl(204, 100%, 31%);
  background-color: hsl(204, 100%, 31%);
  color: hsl(0, 0%, 90%);
}

.Reset-btn {
  border: none;
  background-color: hsl(0, 100%, 51%);
  color: var(--fontmain);
}

.Reset-btn:hover {
  border: none;
  background-color: hsl(0, 100%, 31%);
  color: hsl(0, 0%, 90%);
}

.Stop-btn {
  border: none;
  background-color: hsl(41, 100%, 51%);
  color: var(--fontmain);
}

.Stop-btn:hover {
  border: none;
  background-color: hsl(36, 100%, 41%);
  color: hsl(0, 0%, 90%);
}
#countLoad {
  border: none;
  background-color: hsl(300, 99%, 49%);
  color: hsl(0, 0%, 90%);
}

#countLoad:hover {
  border: none;
  background-color: hsl(300, 99%, 30%);
  color: hsl(0, 0%, 90%);
}

.stopWatchContainer {
  padding: 0px 20px;
  height: 100%;
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.stopWatchContainer button {
  align-items: center;
  align-content: center;
  justify-content: center;
  text-align: center;
  display: flex;
  flex-direction: row;
}
.stopWatchBox {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "display display display"
                       "buttonStrt buttonReset buttonStop";
}

.stopWatchBox button {
  width: 80px;
}
.guessNum {
  flex-direction: column;
  display: flex;
  width: 90%;
}

#keys {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 5px;
  row-gap: 5px;
}

#keys  button{
  width: 50px;
  height: 50px;
  background-color: white;
  color: black;
  border: none;

}

#keys  button:hover {
  background-color: hsl(0, 0%, 80%);
  border: none;
}

#calculator {
  border-radius: 5px;
  padding: 0;
  padding-left: 0;
  padding-right: 0;
}

#calcDisplay {
  width: 96%;
  padding: 18px 5px;
  border-radius: 5px;
  border: none;
  background-color: hsl(0, 0%, 14%);
  color: var(--fontsec);
  font-size: 30px;
  border-bottom: 0.1px solid hsl(0, 0%, 40%);
}

#keys button .operator {
  border: 4px solid hsl(27, 98%, 49%);
  background-color: hsl(27, 98%, 49%);
}

.operator:hover {
  border: 4px solid hsl(27, 98%, 40%);
  background-color: hsl(27, 98%, 40%);
}

#weatherBtn {
  width: 60%;
}

